/* Responsive For Mobile */
@media screen and (max-width: 500px){

	.navbar-light .navbar-toggler {
	    margin: 10px auto;
	}
	.banner {
	    padding-top: 60px; 
	}
	.btn-banner {
	    padding: 13px 17px;
	}
	.about-section {
	    padding: 50px 0px;
	}
	.row .left img {
	    margin: 83px 0px 0px -126px;
	}
	.row .img-right {
	    margin: 90px 0px 0px -136px;
	}
	.row .btn-p {
	    display: block;
	    margin: 0 auto;
	}
	.features .box-1{
	    width: 100%;
	    display: block;
	    margin: 50px auto;
	}
	.features .box-1 img{
		width: 100%;
	    display: block;
	    margin: 50px auto;
	}
	.row .para .last-p {
	    margin: 0px 40px 0px auto;
	}
	.row .box-1 .simble img {
	    margin: 4px auto 0px 0px;
	    width: 15px;
	}
	.contact-us-section img {
	    margin: 10px auto;
	    display: block;
	}
	.border-section {
	    margin-top: 14px;
	}	
}


/* Responsive For Tablet */
@media (min-width: 501px) and (max-width: 768px){
	
	.banner h1 {  
	    margin-top: -65px;
	}
	.row h2 {
	    text-align: center;
	}
	.row p {
	    text-align: center;
	}
	.row .btn-p {
	    margin: 50px auto;
	    display: block;
	}
	.features .box-1{
	    width: 100%;
	    display: block;
	    margin: 50px auto;
	}
	.features .box-1 img{
		width: 100%;
	    display: block;
	    margin: 50px auto;
	}
	.row .para .last-p {
	    margin: 0px 40px 0px auto;
	}
	.row .box-1 .simble img {
	    margin: 4px auto 0px 0px;
	    width: 15px;
	}
	.contact-us-section img {
	    margin: 30px auto;
	}

}

/* Responsive For Notebook */
@media (min-width: 769px) and (max-width: 990px){
	
	.banner h1 {
	    margin-top: -60px;
	}
	.about-section {
	    padding: 60px 0px;
	}
	.row .left img {
	    padding: 86px 0px 40px 50px;
	}
	.row .btn-primary {
	    margin: 0 auto;
	    display: block;
	}
	.row .img-right {
	    padding: 104px 0px 0px 54px;
	}
	.row .btn-primary-one {
	    display: block;
	    margin: 0 auto;
	}
	.row .btn-p {
	    margin: 101px 0px 0px 45px;  
	}
	.features .box-1{
	    width: 100%;
	    display: block;
	    margin: 50px auto;
	}
	.features .box-1 img{
		width: 100%;
	    display: block;
	    margin: 50px auto;
	}
	.row .para .last-p {
	    margin: 0px 40px 0px auto;
	}
	.row .box-1 .simble img {
	    margin: 4px auto 0px 0px;
	    width: 15px;
	}
	.row .box-1 .simble {
	    margin: 13px 0px 0px 43px;
	}





}